.header{
	height: 100px;
	color: red;
	background-color:red;
}
.wrapper{
	overflow: hidden;
}
.blog{
float: left;
width: 70%
height:150px;
background-color: green;
}
.contact{
	float:right;
	width:25%
	height:150px
	background-color:blue;
}
.footer{
	height: 100px;
	background-color:black;
}


